<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/photos']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<mat-card class="example-card">
  <mat-card-content>
    <p><strong>Item:</strong> {{itemName}}</p>
    <p><strong>File path:</strong> {{photo.path}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/photos-edit', photo.key]">
      <mat-icon>edit</mat-icon>
    </a>
    <a mat-fab class="delete" color="warn" (click)="deletePhoto(photo.key)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>