<div id="main-container">
    <img id="logo" src="assets/logo.jpg">
    <h1>C.R.U.D. Application</h1>
    <button mat-raised-button color="primary" [routerLink]="['/sellers']">Sellers</button>
    <button mat-raised-button color="primary" [routerLink]="['/vendors']">Vendors</button>
    <button mat-raised-button color="primary" [routerLink]="['/items']">Items</button>
    <button mat-raised-button color="primary" [routerLink]="['/photos']">Photos</button>
    <button mat-raised-button color="primary" [routerLink]="['/listings']">Item Listings</button>
    <button mat-raised-button color="warn" [routerLink]="['/help']">Help</button>
    <p>Jared Graham - Dec 2018</p>
</div>