#logo{
    width: 100%;
    max-width: 500px;
}

#main-container{
    padding: 10px;
    max-width: 500px;
}

h1 {
    text-align: center;
}

p {
    position: absolute;
    bottom: 0;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 500px;
}

/* #logo{
    width: 100%;
    max-width: 500px;
}

#main-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 500px;
}

button {
    margin: 5px 0;
} */