<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/photos-create']">
    <mat-icon>add</mat-icon>
  </a>
  <h1>Photos</h1>
  <a mat-fab class="back" color="primary" [routerLink]="['/main']">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
</div>
<mat-form-field class="filter">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="itemId">
      <th mat-header-cell *matHeaderCellDef> Item ID</th>
      <!-- {{element.itemId | getItemName}}  -->
      <td mat-cell *matCellDef="let element" class="title-col"> {{element.itemId}} </td>
    </ng-container>

    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef> Path </th>
      <td mat-cell *matCellDef="let element"> {{element.path}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/photos-details/', row.key]"></tr>
  </table>
</div>