<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/items']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<form [formGroup]="itemsForm" (ngSubmit)="onFormSubmit(itemsForm.value)">
  <mat-form-field class="example-full-width">
    <mat-select formControlName="sellerId" placeholder="Seller">
      <mat-option *ngFor="let seller of sellers" value="{{seller.key}}">{{seller.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Description" formControlName="desc" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!itemsForm.get('desc').valid && itemsForm.get('desc').touched">Please enter the item's description</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Quantity on Hand" formControlName="qoh" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!itemsForm.get('qoh').valid && itemsForm.get('qoh').touched">Please enter the item's quantity on
        hand</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Buy Price" formControlName="buy" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!itemsForm.get('buy').valid && itemsForm.get('buy').touched">Please enter the item's price when you
        bought it</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sell price" formControlName="sell" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!itemsForm.get('sell').valid && itemsForm.get('sell').touched">Please enter the price you want to
        sell this for</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Shipping Cost" formControlName="ship" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!itemsForm.get('ship').valid && itemsForm.get('ship').touched">Please enter the item's shipping cost</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Tax on Purchase" formControlName="tax" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!itemsForm.get('tax').valid && itemsForm.get('tax').touched">Please enter the item's tax when
        purchased</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!itemsForm.valid" mat-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>