<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/photos']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<form [formGroup]="photosForm" (ngSubmit)="onFormSubmit(photosForm.value)">
  <mat-form-field class="example-full-width">
    <mat-select formControlName="itemId" placeholder="Item">
      <mat-option *ngFor="let item of items" value="{{item.key}}">{{item.desc}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="File Path" formControlName="path" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!photosForm.get('path').valid && photosForm.get('path').touched">Please enter the photo's file path</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!photosForm.valid" mat-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>