<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/items']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<mat-card class="example-card">
  <mat-card-content>
    <p><strong>Description:</strong> {{item.desc}}</p>
    <p><strong>Seller:</strong> {{sellerName}}</p>
    <p><strong>Quantity on Hand:</strong> {{item.qoh}}</p>
    <p><strong>Buy Price:</strong> {{item.buy}}</p>
    <p><strong>Sell Price:</strong> {{item.sell}}</p>
    <p><strong>Shipping Cost:</strong> {{item.ship}}</p>
    <p><strong>Tax on purchase:</strong> {{item.tax}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/items-edit', item.key]">
      <mat-icon>edit</mat-icon>
    </a>
    <a mat-fab class="delete" color="warn" (click)="deleteItem(item.key)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>