<div class="button-row">
  <a mat-fab color="primary" (click)="vendorsDetails()">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
</div>
<form [formGroup]="vendorsForm" (ngSubmit)="onFormSubmit(vendorsForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!vendorsForm.get('name').valid && vendorsForm.get('name').touched">Please enter the vendor's name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Sale Cut" formControlName="saleCut" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!vendorsForm.get('saleCut').valid && vendorsForm.get('saleCut').touched">Please enter the vendor's
        cut when selling an item</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Listing Cut" formControlName="listCut" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!vendorsForm.get('listCut').valid && vendorsForm.get('listCut').touched">Please enter the vendor's
        fee for making an item listing</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!vendorsForm.valid" mat-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>