<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/vendors']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<mat-card class="example-card">
  <mat-card-content>
    <p><strong>Name:</strong> {{vendor.name}}</p>
    <p><strong>Sale Cut:</strong> {{vendor.saleCut}}</p>
    <p><strong>Listing Cut:</strong> {{vendor.listCut}}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-fab color="primary" [routerLink]="['/vendors-edit', vendor.key]">
      <mat-icon>edit</mat-icon>
    </a>
    <a mat-fab class="delete" color="warn" (click)="deleteVendor(vendor.key)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>