<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/listings-create']">
    <mat-icon>add</mat-icon>
  </a>
  <h1>Item Listings</h1>
  <a mat-fab class="back" color="primary" [routerLink]="['/main']">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
</div>
<mat-form-field class="filter">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="itemId">
      <th mat-header-cell *matHeaderCellDef> Item ID</th>
      <td mat-cell *matCellDef="let element" class="title-col"> {{element.itemId}} </td>
    </ng-container>

    <ng-container matColumnDef="vendorId">
      <th mat-header-cell *matHeaderCellDef> Vendor ID</th>
      <td mat-cell *matCellDef="let element" class="title-col"> {{element.vendorId}} </td>
    </ng-container>

    <ng-container matColumnDef="ship">
      <th mat-header-cell *matHeaderCellDef> Shipping Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.ship}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Listed Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Item Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef> Tax on Sale </th>
      <td mat-cell *matCellDef="let element"> {{element.tax}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/listings-details/', row.key]"></tr>
  </table>
</div>