<div class="button-row">
  <h1>Help</h1>
  <a mat-fab class="back" color="primary" [routerLink]="['/main']">
    <mat-icon>keyboard_backspace</mat-icon>
  </a>
</div>
<div id="help">
  <p>Welcome to the 1st Choice Sales database management app! This help section will get you ready to use this app to
    create, read, update, and delete records in the database.</p>
  <h2>Selecting a Table</h2>
  <p>Each button on the home screen relates to a different table of the database. Select the one you'd like to add a
    record to. Within each table's section you'll see a list of existing records along with an add button and
    a return button.</p>
  <p><i>Note: if you are adding a record that requires another record to be created, be sure to make the
      parent record first. For a list of what record require which to be created, see the Record Dependency section.</i></p>
  <h2>Accessing a Record</h2>
  <p>To access an existing record, select its row in the table. From there you can select the list button to return to
    the list of existing records or use the edit button to change its details. The trash button can also be used to
    delete the record.</p>
  <h2>Adding a Record</h2>
  <p>To add a new record, select the add ( + ) button and fill out the required forms. Upon completion, select the save
    icon. You'll be taken to a detailed view of your record. </p>
  <h2>Table Attributes</h2>
  <p>Below is a list of every attribute in each table in the database and what each attribute refers to:</p>
  <h3>Sellers</h3>
  <ul>
    <li><strong>Name:</strong> the name of the seller or their company.</li>
    <li><strong>Email Address:</strong> the email address of the seller.</li>
    <li><strong>Phone Number:</strong> the seller's phone number</li>
    <li><strong>Address, City, State, & Zip:</strong> seller's location details</li>
    <li><strong>Rating:</strong> a rating for the seller from 1 (bad) to 5 (great).</li>
  </ul>
  <h3>Item</h3>
  <ul>
    <li><strong>Seller:</strong> the name of the seller who sold you this item.</li>
    <li><strong>Description:</strong> a brief description of an item. (ex: Blue Shoes).</li>
    <li><strong>Quantity on Hand:</strong> the number of that item you currently have.</li>
    <li><strong>Buy Price:</strong> the amount that the item cost you, the business owner, to buy (individually).</li>
    <li><strong>Desired Sell Price:</strong> the amount you'd like to charge for each item individually.</li>
    <li><strong>Shipping Cost:</strong> the money you paid for shipping the item(s).</li>
    <li><strong>Tax on Purchase:</strong> the tax you paid on buying the item(s).</li>
  </ul>
  <h3>Photo</h3>
  <ul>
    <li><strong>Item:</strong> the description of the item the photo is of.</li>
    <li><strong>File Path:</strong> the file path to the photo.</li>
  </ul>
  <h3>Vendor</h3>
  <ul>
    <li><strong>Name:</strong> the name of the vendor (Amazon, Ebay, etc.)</li>
    <li><strong>Sale Cut:</strong> the percentage or amount of money the vendor takes from each sale.</li>
    <li><strong>Listing Cut:</strong> the percentage or amount of money the vendor takes when creating a new listing.</li>
  </ul>
  <h3>Item Listing</h3>
  <ul>
    <li><strong>Item:</strong> the description of the item.</li>
    <li><strong>Vendor:</strong> the name of the vendor this listing is from.</li>
    <li><strong>Shipping Cost:</strong> the cost of shipping the items in this listing.</li>
    <li><strong>Listed Price:</strong> the total listed price for this listing.</li>
    <li><strong>Item Quantity:</strong> the number of items included in this listing.</li>
    <li><strong>Tax on Sale:</strong> the amount to charge for tax on this listing.</li>
  </ul>
  <h2>Record Dependency</h2>
  <p>Below is a list of what records require parent records to first exist in order to be created.</p>
  <ul>
    <li>Items require a seller</li>
    <li>Photos require an item</li>
    <li>Item Listings require an item and a vendor</li>
  </ul>
</div>