<div class="button-row">
  <a mat-fab color="primary" [routerLink]="['/sellers']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<form [formGroup]="sellersForm" (ngSubmit)="onFormSubmit(sellersForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!sellersForm.get('name').valid && sellersForm.get('name').touched">Please enter the seller's name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Email Address" formControlName="email" [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!sellersForm.get('email').valid && sellersForm.get('email').touched">Please enter the seller's
        email address</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Phone Number" type="number" formControlName="phone" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!sellersForm.get('phone').valid && sellersForm.get('phone').touched">Please enter the seller's phone
        number</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Address" formControlName="address" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!sellersForm.get('address').valid && sellersForm.get('address').touched">Please enter the seller's
        address</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="City" formControlName="city" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!sellersForm.get('city').valid && sellersForm.get('city').touched">Please enter the seller's city</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="State" formControlName="state" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!sellersForm.get('state').valid && sellersForm.get('state').touched">Please enter the seller's state</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Zip Code" type="number" formControlName="zip" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!sellersForm.get('zip').valid && sellersForm.get('zip').touched">Please enter the seller's zip code</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Rating" type="number" formControlName="rating" [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!sellersForm.get('rating').valid && sellersForm.get('rating').touched">Please enter the seller's
        rating</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!sellersForm.valid" mat-fab color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>